---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Dashboard">
	<main>
		<div class="flex items-center justify-center text-white">
			<h1>Time</h1>
			<div></div>
		</div>
	</main>
</Layout>

<style>
	main {
	}
</style>
