---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<iframe style="width:100vw;height:100vh;" src="https://cables.gl/view/63eac3b3b9949ae9a5e325aa"></iframe>
	</main>
</Layout>

<style>
	main {
	}
</style>
